OPENROUTER_API_KEY=sk-or-v1...
TAVILY_API_KEY=tvly-dev...
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
IMGBB_API_KEY=
A1_ADDRESS=0x...
A1_PRIVATE_KEY=0x...
PINATA_JWT=
A1_SERVER_PORT=3000
A2_SERVER_PORT=3001
